<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:replace="fragments/common :: header"></div>

<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Tables</li>
        </ol>
        <!-- Example DataTables Card-->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-table"></i> Reply </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>NO</th>
                            <th>REG_DATE</th>
                            <th>BOARD_NO</th>
                            <th>CONTENT</th>
                            <th>WRITER_NAME</th>
                            <th>PASSWORD</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>NO</th>
                            <th>REG_DATE</th>
                            <th>BOARD_NO</th>
                            <th>CONTENT</th>
                            <th>WRITER_NAME</th>
                            <th>PASSWORD</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        <tr th:each = "reply : ${replys}">
                            <td> <a th:href="@{/admin/reply/view(no=${reply.no})}" th:text="${reply.no}"> NO </a></td>
                            <td th:text="${reply.reg_date}">REG_DATE</td>
                            <td th:text="${reply.board_no}">BOARD_NO</td>
                            <td th:text="${reply.content}">CONTENT</td>
                            <td th:text="${reply.writer_name}">WRITER_NAME</td>
                            <td th:text="${reply.password}">PASSWORD</td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
    </div>

    <div th:replace="fragments/common :: footer"></div>