<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<HEADER>
    <link rel="icon" type="image/png" href="http://example.com/myicon.png">

</HEADER>
<style>

</style>

<div th:replace="fragments/m_common :: m_header"> </div>

<!-- Home Banner Start -->

<!-- Home Banner End -->
<!-- breadcrumbarea start -->

<div class="dc-breadcrumbarea">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-top: 100px !important;">
                <ol class="dc-breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li>로그인 페이지</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumbarea End -->
<!--Main Start-->
<main id="dc-main" class="dc-main dc-haslayout dc-innerbgcolor">
    <!--Register Form Start-->
    <div class="dc-haslayout dc-main-section">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 push-lg-2">
                    <div class="dc-registerformhold">
                        <div class="dc-registerformmain">
                            <div class="dc-registerhead">
                                <div class="dc-loginarea">
                                    <div class="dc-loginoption">

                                        <div class="dc-loginheader">
                                            <span>로그인</span>

                                        </div>
                                        <form class="dc-formtheme dc-loginform do-login-form" method="post" action="/login/check">
                                            <fieldset>
                                                <div class="form-group">
                                                    <input type="text" name="id" th:value="${id}" class="form-control" placeholder="아이디">
                                                </div>
                                                <div class="form-group">
                                                    <input type="password" name="password" class="form-control" placeholder="비밀번호">
                                                </div>
                                                <div class="dc-logininfo">
                                                    <div class="row justify-content-center align-self-center">

                                                        <input type="submit" value="로그인" style="cursor:pointer !important;" class="dc-btn do-login-button">&nbsp;

                                                    </div>
                                                    <font color="#dc143c" size="2" th:text="${message}"> </font>
                                            </fieldset>
                                            <div class="dc-loginfooterinfo">
                                                <a href="javascript:;" class="dc-forgot-password">비밀번호를 잊어버렸습니까?</a>
                                                <a href="/register">회원가입을 하시겠습니까?</a>
                                            </div>
                                        </form>
                                        <form class="dc-formtheme dc-loginform do-forgot-password-form dc-hide-form">
                                            <fieldset>
                                                <div class="form-group">
                                                    <input type="email" name="email" class="form-control get_password" placeholder="이메일">
                                                </div>

                                                <div class="dc-logininfo">
                                                    <div class="row justify-content-center align-self-center">
                                                        <a href="javascript:;" class="dc-btn do-get-password">확인</a>
                                                    </div>
                                            </fieldset>
                                            <div class="dc-loginfooterinfo">
                                                <a href="loginpage.html" class="dc-show-login">로그인</a>
                                                <a href="register.html">회원가입 하기</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Register Form End-->

</main>
<!--Main End-->



<div th:replace="fragments/m_common :: m_footer"></div>